name: Generate GitHub Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: Platane/snk@v3
        with:
          github_user_name: Lucian-Adrian

          outputs: |
              github-snake.svg?palette=github
              github-snake-dark.svg?palette=github-dark
              github-snake.gif?palette=github
              github-snake-dark.gif?palette=github-dark

      - name: Prepare dist for pages
        run: |
          mkdir -p dist
          mv github-snake* dist/ || true
          ls -la dist

      - uses: crazy-max/ghaction-github-pages@v2.1.3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
